name: Style and test check

on:
  pull_request:

jobs:
  style-lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install requirements
        run: make init
      - name: Lint with flake8, black and isort
        run: make style
      - name: Run tests
        run: make test
        env:
          HUBBLE_ACCESS_TOKEN: ${{secrets.HUBBLE_ACCESS_TOKEN}}
          JINA_HUBBLE_REGISTRY: https://apihubble.staging.jina.ai
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.xml
        
